<div class="footer">
	<div class="container">
		<div class="col-md-3 footer-grid">
			<h3>About Us</h3>
			<p>Nam libero tempore, cum soluta nobis est eligendi 
				optio cumque nihil impedit quo minus id quod maxime 
				placeat facere possimus.</p>
		</div>
		<div class="col-md-3 footer-grid ">
			<h3>Menu</h3>
			<ul>
				<li><a href="">Home</a></li>
				<li><a href="#">Kitchen</a></li>
				<li><a href="/contact-us/">Contact Us</a></li>
			</ul>
		</div>
		<div class="col-md-3 footer-grid ">
			<h3>Customer Services</h3>
			<ul>
				<li><a routerLink="#">Shipping</a></li>
				<li><a routerLink="#">Terms & Conditions</a></li>
				
				<li><a href="/contact-us/">Contact</a></li>
				<li><a routerLink="#">Online Shopping</a></li>						 
				 
			</ul>
		</div>
		<div class="col-md-3 footer-grid">
			<h3>My Account</h3>
			<ul>
				<li><a href="/login/">Login</a></li>
				<li><a href="/register/">Register</a></li>
			
				
			</ul>
		</div>
		<div class="clearfix"></div>
			<div class="footer-bottom">
				<h1 ><a href=""><img src="/assets/images/footerlogo.png" style="height: 80px; width: 280px"></a></h1>
				<p class="fo-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
				<ul class="social-fo">
					<li><a href="#" class=" face"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#" class=" twi"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#" class=" pin"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
					<li><a href="#" class=" dri"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					<li><a href="#" class=" dri"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
				</ul>
				<div class=" address">
					<div class="col-md-4 fo-grid1">
							<p><i class="fa fa-home" aria-hidden="true"></i>Kamalgachi, Sonarpur Kolkata - 700150, West Bengal</p>
					</div>
					<div class="col-md-4 fo-grid1">
							<p><i class="fa fa-phone" aria-hidden="true"></i>+1234 758 839 , +1273 748 730</p>	
					</div>
					<div class="col-md-4 fo-grid1">
						<p><a href="mailto:info@example.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>customer_support@foodheaven.com</a></p>
					</div>
					<div class="clearfix"></div>
					
					</div>
			</div>
		<div class="copy-right">
			<p> &copy; 2023 Food Heaven. All Rights Reserved | Design by Food Heaven Design Team</p>
		</div>
	</div>
</div>